body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   font-size:16px;
   background: #fff;
   font-style: normal;
   font-weight:400;
}
a {
   text-decoration: none;
}
ul, ol {
   list-style-type: none;
}

button {
   font-family: inherit;
   color: currentColor;
   cursor: pointer;
}

/*? Header */

.menu {}

.menu-logo {
   color: #4D5AE5;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.menu-logo-item {
   color: #2E2F42;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.menu-item {
}

.item-link {
   color: #2E2F42;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
}
.item-link:hover,
.item-link:focus{
   color: #404BBF;
}

.contacts {
   font-style: normal
}

/*? Hero */

.hero {
   background-color: #2E2F42;
}

.hero-title {
   color: #FFF;
   text-align: center;
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 0.02em;
}

.hero-button {
   font-family: "Roboto", sans-serif;
   background-color: #4D5AE5;
   color: #FFF;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus{
   background-color: #404BBF
}

/*? Princips */

.princips {}

.princips-item {}

.princips-title {
   color: #2E2F42;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.princips-text {
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/*? Team */

.team {
   background-color: #F4F4FD;
}

.team-title {
   color: #2E2F42;
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
}

.team-list {
   background: #FFF;
}

.team-img {}

.name-title {
   color: #2E2F42;
   text-align: center;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.name-profesion {
   text-align: center;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/*? Portfolio */

.portfolio {}

.portfolio-title {
   color: #2E2F42;
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
}

.port-list {
   background-color: #FFF;
}

.port-img {}

.port-title {
   color: #2E2F42;
   text-align: center;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.port-subtitle {
   text-align: center;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/*? Footer */

.footer {
   background-color: #2E2F42;
}

.footer-logo {
   color: #4D5AE5;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.footer-logo-item {
   color: #F4F4FD;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.footer-text {
   color: #F4F4FD;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

